*{
    padding: 0px;
    margin: 0px;
}
body{
    background:white;
}

.nav{
    background: #00008B;
    height: 60px;
    width: 100%;
    padding-top: 16px;
}
.nav_head{
    color: aliceblue;
    padding: 15px;
    padding-top:50px ;
    display: inline;
    padding-bottom: 50px;
    
}
.nav_div{
    display: flex;
}
.head{
    color: rgb(29, 192, 29);
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
.main_div{
    margin-left: 600px;
    margin-top: 70px;
    padding-top: 40px;
    border-radius: 8px;
    height: 200px;
    width: 300px;
    text-align: center;
    background-color: rgb(28, 201, 144);
}