{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="nav_div">
        <nav class="nav"><h1 class="nav_head">TRAVEL BUG</h1>
     </nav>
    <h1 class="head">About us</h1>
    <div class="main">
        <h3 class="para">We are the best Travel Company in India offering
            Affordable Family Holidays for Domestic and International Destinations
           Travelbug  is  offers Budget friendly quality family holidays primarily through vacation ownership memberships and brings to the industry values such as reliability, trust and customer satisfaction. Started in 2025,  who can holiday at 100+ resorts in India and asia
            
             We provide various services to its customers. Rao Holidays Brand is one of the fastest growing Company in INDIA and ASIA.</h3>
    </div>
    <footer class="footer">
        
    </footer>
</body>
</html>