{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

</head>
<body>
    <div class="nav_div">
        <nav class="nav"><h1 class="nav_head">TRAVEL BUG</h1>
     </nav>
    <h1 class="head">Contact Us.</h1>
    <div class="main"><div class="phone">
        <h2 class="num">Contact number</h2>
        <h2 class="num">9072778743</h2>
    </div>
    <div class="phone">
        <h2 class="num">Email Address</h2>
        <h2 class="email">muflihanu60@gmail.com</h2>
    </div>
</div>
    
</body>
</html>