
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/userlogin.css' %}">
</head>

<body>
    
    <h1 class="heading">Login Here</h1>
    <div class="main_div">
        <form class="frm" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="lg" type="submit">Login</button>
        </form>
    </div>
    
    
</body>
</html>